{# @var treeNodes \ChameleonSystem\CoreBundle\DataModel\BackendTreeNodeDataModel #}

{% if isInIframe == false %}

<div class="card">
    <div class="card-header">
        <h3>{{ 'chameleon_system_core.cms_module_page_tree.headline' | trans }}</h3>
    </div>
    <div class="card-body simple-tree-card">
{% endif %}
        <div class="row">
            <div class="col-12 col-md-6 col-xl-8">
                <div id="navigationTreeContainer{% if noAssignDialog == false %}-checkboxes{% endif %}" class="navigationTreeContainer"></div>
            </div>
            <div class="col-12 col-md-6 col-xl-4 justify-content-end mt-4 mt-md-0">
                <div class="treelegend">
                    <h5>
                        <span class="nodeIndicatorIcon"></span>
                        <span>{{ 'chameleon_system_core.cms_module_page_tree.legend_header' | trans }}</span>
                    </h5>

                    {% if noAssignDialog == false %}
                        <div class="activeConnectedNode primaryConnectedNode">
                            <span class="nodeIndicatorIcon"></span>
                            <span>{{ 'chameleon_system_core.cms_module_page_tree.legend_active_main_node_of_page' | trans }}</span>
                        </div>


                        <div class="activeConnectedNode">
                            <span class="nodeIndicatorIcon"></span>
                            <span>{{ 'chameleon_system_core.cms_module_page_tree.legend_active_further_node_of_page' | trans }}</span>
                        </div>
                    {% endif %}

                    <div class="text">
                        <span class="nodeIndicatorIcon"></span>
                        <span>{{ 'chameleon_system_core.cms_module_page_tree.legend_node_has_no_page' | trans }}</span>
                    </div>

                    <div class="otherConnectedNode">
                        <span class="nodeIndicatorIcon"></span>
                        <span>{{ 'chameleon_system_core.cms_module_page_tree.legend_has_connected_pages' | trans }}</span>
                    </div>

                    <div class="restrictedPage">
                        <span class="nodeIndicatorIcon iconRestricted"><i class="fas fa-lock"></i></span>
                        <span>{{ 'chameleon_system_core.cms_module_page_tree.legend_connected_to_protected_page' | trans }}</span>
                    </div>

                    <div class="node-hidden">
                        <span class="nodeIndicatorIcon iconHidden"><i class="far fa-eye-slash"></i></span>
                        <span>{{ 'chameleon_system_core.cms_module_page_tree.legend_hidden' | trans }}</span>
                    </div>

                    <div class="legendLine">
                        <span class="nodeIndicatorIcon iconExternalLink"><i class="fas fa-external-link-alt"></i></span>
                        <span>{{ 'chameleon_system_core.cms_module_page_tree.legend_external_link' | trans }}</span>
                    </div>
                </div>

            </div>
        </div>

{% if isInIframe == false %}
    </div>
</div>
{% endif %}

<script>
    var currentNodeId = null;

    $("#navigationTreeContainer")
        .jstree({
            "core":{
                "multiple": true,
                "data": {
                    "url": "{{ treeNodesAjaxUrl | raw }}",
                    "data": function(node) {
                        return {
                            'id' : node.id
                        };
                    }
                },
                "check_callback" : true
            },
            "types": {
                "default": {
                    "icon": "fas fa-folder-open"
                },
                "folder": {
                    "icon": "fas fa-folder-open"
                },
                "folderRestrictedMenu": {
                    "icon": "fas fa-folder-open"
                },
                "folderRootRestrictedMenu": {
                    "icon": "fas fa-folder-open"
                },
                "folderWithPage": {
                    "icon": "fas fa-folder-open",
                    "check_node": false
                },
                "page": {
                    "icon": "far fa-file"
                },
                "locked": {
                    "icon": "fas fa-lock"
                },
                "page-hidden": {
                    "icon": "far fa-eye-slash"
                },
                "node-hidden": {
                    "icon": "far fa-eye-slash"
                },
                "externalLink": {
                    "icon": "fas fa-external-link-alt"
                }
            },
            "plugins":[ "state", "types", "wholerow", "changed", "contextmenu", "dnd"],
            "contextmenu": {
                "items": navigationRightClickMenu
            }
        })
        .on("move_node.jstree", function (e, data) {
            moveNode(data.node.id, data.parent, data.position);
        });

    $("#navigationTreeContainer-checkboxes")
        .jstree({
            "core":{
                "multiple": true,
                "data": {
                    "url": "{{ treeNodesAjaxUrl | raw }}",
                    "data": function(node) {
                        return {
                            'id' : node.id
                        };
                    }
                },
                "check_callback" : true
            },
            "types": {
                "default": {
                    "icon": "fas fa-folder-open"
                },
                "folder": {
                    "icon": "fas fa-folder-open",
                    "check_node": false
                },
                "folderRestrictedMenu": {
                    "icon": "fas fa-folder-open",
                    "check_node": false
                },
                "folderRootRestrictedMenu": {
                    "icon": "fas fa-folder-open",
                    "check_node": false
                },
                "folderWithPage": {
                    "icon": "fas fa-folder-open",
                    "check_node": false
                },
                "page": {
                    "icon": "far fa-file"
                },
                "locked": {
                    "icon": "fas fa-lock"
                },
                "page-hidden": {
                    "icon": "far fa-eye-slash"
                },
                "node-hidden": {
                    "icon": "far fa-eye-slash"
                },
                "externalLink": {
                    "icon": "fas fa-external-link-alt"
                }
            },
            "checkbox": {
                "three_state": false,
                "cascade": "none"
            },
            "plugins":[ "types", "wholerow", "changed", "checkbox", "contextmenu", "dnd"],
            "contextmenu": {
                "items": navigationRightClickMenuForCheckboxes,
                "select_node": false
            },
            "dnd": {
                "drag_selection": false
            }
        })
        .on("move_node.jstree", function (e, data) {
            moveNode(data.node.id, data.parent, data.position);
        })
        .on("select_node.jstree", function (e, data) {
            connectPageOnSelect(data.node.id);
        })
        .on("deselect_node.jstree", function (e, data) {
            disconnectPageOnDeselect(data.node.id);
        });


    function navigationRightClickMenu(node) {
        var items = {
            "editpageconnections": {
                "label": "{{ 'chameleon_system_core.cms_module_page_tree.connected_pages'|trans }}",
                "icon": "fas fa-link",
                // "_class": "foo-bar",
                "action": function (obj) {
                    this.openPageConnectionList(obj.reference);
                }
            },
            "editpage": {
                "label": "{{ 'chameleon_system_core.cms_module_page_tree.action_edit_page'|trans }}",
                "icon": "far fa-edit",
                "action": function (obj) {
                    this.openPageEditor(obj.reference);
                }
            },
            "editpageconfig": {
                "label": "{{ 'chameleon_system_core.list.page_settings'|trans }}",
                "icon": "fas fa-cog",
                "action": function (obj) {
                    this.openPageConfigEditor(obj.reference);
                }
            },
            "editnode": {
                "label": "{{ 'chameleon_system_core.cms_module_page_tree.action_edit_node'|trans }}",
                "icon": "fas fa-sitemap",
                "action": function (obj) {
                    this.openTreeNodeEditor(obj.reference);
                }
            },
            "newnode": {
                "label": "{{ 'chameleon_system_core.action.new'|trans }}",
                "icon": "fas fa-plus",
                "action": function (obj) {
                    this.openTreeNodeEditorAddNewNode(obj.reference);
                }
            },
            "deletenode": {
                "label": "{{ 'chameleon_system_core.action.delete'|trans }}",
                "icon": "far fa-trash-alt",
                "action": function (obj) {
                    this.deleteNode(obj.reference);
                }
            }
        };

        if (node.type === "folderRestrictedMenu")  {
            delete items.editpageconnections;
            delete items.editpage;
            delete items.editpageconfig;
            delete items.deletenode;
        }

        if (node.type === "folderRootRestrictedMenu") {
            items = {};
        }

        return items;
    }

    function navigationRightClickMenuForCheckboxes(node) {
        return {
            "newnode": {
                "label": "{{ 'chameleon_system_core.action.new'|trans }}",
                "icon": "fas fa-plus",
                "action": function (obj) {
                    this.openTreeNodeEditorAddNewNode(obj.reference);
                }
            },
            "deletenode": {
                "label": "{{ 'chameleon_system_core.action.delete'|trans }}",
                "icon": "far fa-trash-alt",
                "action": function (obj) {
                    this.deleteNode(obj.reference);
                }
            }
        };
    }


    function openPageConnectionList(node) {
        var nodeId = $(node).parent().attr('id');
        currentNodeId = nodeId; // save nodeId in global var
        var url = "{{ openPageConnectionListUrl | raw }}" + "&sRestriction=" + nodeId;
        CreateModalIFrameDialogCloseButton(url);
        refreshNodeOnModalClose(nodeId);
    }

    /**
     * opens the page in edit mode
     */
    function openPageEditor(node) {
        var pageId = $(node).parent().attr('isPageId');

        if (pageId !== false && typeof(pageId) !== "undefined") {
            parent.document.location.href = "{{ openPageEditorUrl | raw }}" + '&id=' + pageId;
        } else {
            alert("{{ 'chameleon_system_core.cms_module_page_tree.node_has_no_page'|trans }}");
        }
    }

    /**
     * opens the page in config edit mode
     */
    function openPageConfigEditor(node) {
        var pageId = $(node).parent().attr('isPageId');
        if (pageId !== false && typeof(pageId) !== "undefined") {
            parent.document.location.href = "{{ openPageConfigEditorUrl | raw }}" + '&id=' + pageId;
        } else {
            alert("{{ 'chameleon_system_core.cms_module_page_tree.node_has_no_page'|trans }}");
        }
    }

    /**
     * opens the tree node editor
     */
    function openTreeNodeEditor(node) {
        var nodeId = $(node).parent().attr('id');
        currentNodeId = nodeId; // save nodeId in global var
        var url = "{{ openTreeNodeEditorUrl | raw }}" + '&id=' + nodeId;
        CreateModalIFrameDialogCloseButton(url);
    }

    /**
     * opens the tree node editor and adds a new node
     *
     */
    function openTreeNodeEditorAddNewNode(node) {
        var nodeId = $(node).parent().attr('id');
        currentNodeId = nodeId; // save nodeId in global var
        var url = "{{ openTreeNodeEditorAddNewNodeUrl | raw }}" + '&parent_id=' + nodeId;
        CreateModalIFrameDialogCloseButton(url);
    }

    /**
     * deletes a node and kills the page connections
     */
    function deleteNode(node) {
        var confirmMessage = "{{ 'chameleon_system_core.cms_module_page_tree.confirm_delete'|trans }}";
        confirmMessage = confirmMessage.replace(/&quot;/g, '\"');

        var nodeTitle = $(node).text();
        confirmMessage = confirmMessage.replace('%nodeName%', nodeTitle);

        if(confirm(confirmMessage)){
            var nodeId = $(node).parent().attr('id');
            currentNodeId = nodeId; // save nodeId in global var
            var url = "{{ deleteNodeUrl | raw }}" + '&nodeId=' + nodeId;
            CHAMELEON.CORE.showProcessingModal();
            GetAjaxCallTransparent(url, deleteNodeSuccess);
        }
    }

    /**
     * final remove of the node from DOM tree
     */
    function deleteNodeSuccess(nodeId, responseMessage) {
        if ('success' === responseMessage && currentNodeId === nodeId) {
            //set to parent of deleted node
            currentNodeId = $(".navigationTreeContainer.jstree #" + nodeId).parent().parent().attr('id');
            refreshNode(nodeId);
        }
        window.CHAMELEON.CORE.hideProcessingModal();
    }

    /**
     * update jstree node(s)
     */
    function updateTreeNode(formObject) {
        // maybe a new node was created, currentNodeId is the node from which the call was made, so refresh from this node
        refreshNode(currentNodeId);
        currentNodeId = formObject.id.value;
    }

    function assignPage(node) {
        var nodeId = $(node).attr('id');
        currentNodeId = nodeId; // save nodeId in global var
        var url = '{{ assignPageUrl | raw }}&sRestriction=' + nodeId + '&nodeId=' + nodeId;1
        CreateModalIFrameDialogCloseButton(url);
        refreshNodeOnModalClose(nodeId);
    }


    function connectPageOnSelect(nodeId) {
        currentNodeId = nodeId; // save nodeId in global var
        var url = '{{ connectPageOnSelectUrl | raw }}&sRestriction=' + nodeId + '&nodeId=' + nodeId;
        GetAjaxCallTransparent(url, connectPageSuccess);
    }

    function connectPageSuccess(nodeId, responseMessage) {
        if ('success' === responseMessage) {
            //don't do a refresh here, because refresh_node triggers "selected" again from state
            $(".navigationTreeContainer.jstree #"+nodeId+"_anchor").addClass('activeConnectedNode');
        } else {
            $(".navigationTreeContainer.jstree #" + nodeId + "_anchor").addClass('jstree-clicked');
        }
    }

    function disconnectPageOnDeselect(nodeId) {
        currentNodeId = nodeId; // save nodeId in global var
        var assignedpageId = "{{ currentPageId }}";
        var url = '{{ disconnectPageOnDeselectUrl | raw }}&sRestriction=' + nodeId + '&pageId=' + assignedpageId + '&nodeId=' + nodeId;
        GetAjaxCallTransparent(url, disconnectPageSuccess);
    }

    function disconnectPageSuccess(nodeId, responseMessage) {
        if ('success' === responseMessage) {
            //don't do a refresh here, because refresh_node triggers "selected" again from state
            $(".navigationTreeContainer.jstree #" + nodeId + "_anchor").removeClass('activeConnectedNode');
        } else {
            $(".navigationTreeContainer.jstree #" + nodeId + "_anchor").addClass('jstree-clicked');
        }
    }

    /**
     * moves node by drag&drop data
     */
    function moveNode(nodeId, parentNodeId, position) {
        if (typeof parentNodeId != 'undefined' && typeof nodeId != 'undefined') {
            CHAMELEON.CORE.showProcessingModal();
            var url = '{{ moveNodeUrl | raw }}&nodeId=' + nodeId + '&parentNodeId=' + parentNodeId + '&position=' + position;
            GetAjaxCallTransparent(url, moveNodeSuccess);
        }
    }

    /**
     * unblocks the UI
     */
    function moveNodeSuccess(nodeId, responseMessage) {
        window.CHAMELEON.CORE.hideProcessingModal();
    }

    function refreshNodeOnModalClose(nodeId) {
        $('#modalDialog').on('hidden.bs.modal', function () {
            refreshNode(nodeId);
        });
    }

    function refreshNode(nodeId) {
        // if you want to use refresh_node together with checkboxes, you should know, that refresh_node saves
        // the selection state before refreshing and restores the state after it. So it's impossible to change the
        // selection state with refresh_node if a page connection was added or deleted, for example with editnode()
        // if we manually select or deselect the selected node here before refreshing, it also triggers the event
        // deselect_node and this kills the connection to the active page
        var tree = $(".navigationTreeContainer.jstree").jstree(true);

        // refresh_node can only refresh the children and NOT the node itself, otherwise we get duplicate ids and
        // after that we have problems with drag&drop, so we have to refresh the siblings too with the parentNode.
        var parentId = tree.get_parent(nodeId);
        tree.refresh_node(parentId);
    }
</script>
