{% trans_default_domain constant('ChameleonSystem\\CoreBundle\\i18n\\TranslationConstants::DOMAIN_BACKEND') %}

{% if aPortalLinks %}
    {% if aPortalLinks|length == 1 %}
        {% for aPortal in aPortalLinks %}
            <li class="nav-item"><a href="{{ aPortal.url }}" class="nav-link" target="_blank"><span class="glyphicon glyphicon-globe"></span> &nbsp;{{ 'chameleon_system_core.cms_module_header.action_open_website'|trans }}</a></li>
        {% endfor %}
    {% else %}
        <li class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" id="navbarDropdownWebsites" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-globe"></span> &nbsp;{{ 'chameleon_system_core.cms_module_header.action_open_website'|trans }}</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownWebsites">
        {% for aPortal in aPortalLinks %}
            <a href="{{ aPortal.url }}" class="dropwdown-item" target="_blank"><span class="glyphicon glyphicon-globe"></span> {{ aPortal.name }}</a>
        {% endfor %}
        </div>
    {% endif %}
{% endif %}