{% trans_default_domain constant('ChameleonSystem\\CoreBundle\\i18n\\TranslationConstants::DOMAIN_BACKEND') %}

{% if aPortalLinks %}
    {% if aPortalLinks|length == 1 %}
        {% for aPortal in aPortalLinks %}
            <li class="nav-item px-2">
                <a href="{{ aPortal.url }}" class="nav-link" target="_blank">
                    <i class="fas fa-globe"></i>
                    <span class="d-md-down-none">
                        {{ 'chameleon_system_core.cms_module_header.action_open_website'|trans }}
                    </span>
                </a>
            </li>
        {% endfor %}
    {% else %}
        <li class="nav-item px-2 dropdown">
            <a
                id="navbarDropdownWebsites"
                class="nav-link dropdown-toggle"
                data-toggle="dropdown"
                href="#"
                role="button"
                aria-haspopup="true"
                aria-expanded="false"
            >
                <i class="fas fa-globe"></i>
                <span class="d-md-down-none">
                    {{ 'chameleon_system_core.cms_module_header.action_open_website'|trans }}
                </span>
            </a>
            <div class="dropdown-menu dropdown-menu-left">
            {% for aPortal in aPortalLinks %}
                <a class="dropdown-item" href="{{ aPortal.url }}" target="_blank">
                    <i class="fas fa-globe"></i>
                    {{ aPortal.name }}
                </a>
            {% endfor %}
            </div>
    {% endif %}
{% endif %}