<div class="form-horizontal">
    <div class="form-group row">
        <div class="col-xs-12 col-sm-10 col-md-8 col-lg-7">
            <div class="{{ messageClass }}">
                {{ passwordMessage|trans }}
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-xs-12 col-sm-10 col-md-8 col-lg-7">
            <input type="password" autocomplete="off" id="{{ fieldName|e('html_attr') }}" name="{{ fieldName|e('html_attr') }}" class="strength form-control"{% if backendLanguageCode %} data-language="{{ backendLanguageCode|e('html_attr') }}"{% endif %} placeholder="{{ 'chameleon_system_core.field_password.new_password'|trans|e('html_attr') }}">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-xs-12 col-sm-10 col-md-8 col-lg-7">
            <input type="password" autocomplete="off" id="{{ fieldName|e('html_attr') }}_check" name="{{ fieldName|e('html_attr') }}_check" class="strength form-control"{% if backendLanguageCode %} data-language="{{ backendLanguageCode|e('html_attr') }}"{% endif %} placeholder="{{ 'chameleon_system_core.field_password.repeat_password'|trans|e('html_attr') }}">
        </div>
    </div>
</div>