{#
  description: renders list option like sort or list page size
  parameters:
    -sName
    -sFormActionUrl
    -sFormId
    -sSelectName
    - sFormHiddenFields

    -aOptionList
        -sValue
        -sName
        -bSelected

#}
<div class="snippetListOption">
    {% if aOptionList and aOptionList|length >0%}
        <form method="get" accept-charset="utf-8" name="select_{{sFormId}}" action="{{sFormActionUrl}}" class="listOptionForm">
            {{sFormHiddenFields | raw}}
            <span class="optionTypeName">{{sName}}</span>
            {% block selectField %}
                <span class="selectBlock">
                    <select class="listOptionSelect" onchange="$(this).parentsUntil('form').parent().submit()" name="{{sSelectName | raw}}">
                        {% for aSelectOption in aOptionList%}
                            <option value="{{aSelectOption.sValue}}" {% if aSelectOption.bSelected %} selected="selected" {% endif %}>{{aSelectOption.sName}}</option>
                        {% endfor %}
                    </select>
                </span>
            {% endblock %}
            <noscript>
                <input type="submit" value="{{"chameleon_system_core.snippet_list_option.apply"|trans}}" >
            </noscript>
        </form>
    {% endif %}
</div>