<div
        class="sidebar"
        data-toggle-notification-url="{{ sidebarToggleNotificationUrl|e('html_attr') }}"
        data-save-active-category-notification-url="{{ sidebarSaveActiveCategoryNotificationUrl|e('html_attr') }}"
>
    <p class="sidebar-filter-input-wrapper fas"><input
            type="text"
            class="sidebar-filter-input form-control"
            placeholder="{{ 'chameleon_system_core.sidebar.filter_menu'|trans }}"
            autocomplete="off"
        /></p>
    <nav class="sidebar-nav">
        <ul class="nav">
            {% for category in menuItems %}
                <li class="nav-item nav-dropdown {% if category.active %}open{% endif %}" data-categoryid="{{ category.id }}">
                    <a class="nav-link nav-dropdown-toggle" href="#">
                        <i class="nav-icon {{ category.iconFontCssClass|default('fas fa-sign-out-alt') }}"></i>
                        {{ category.name }}
                    </a>
                    <ul class="nav-dropdown-items">
                        {% for menuItem in category.menuItems %}
                            <li class="nav-item">
                                <a href="{{ menuItem.url }}" class="nav-link">
                                    <i class="nav-icon {{ menuItem.icon|e('html_attr') }}"></i>{{ menuItem.name }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
        <div class="ps__rail-x">
            <div class="ps__thumb-x" tabindex="0"></div>
        </div>
        <div class="ps__rail-y">
            <div class="ps__thumb-y" tabindex="0"></div>
        </div>
    </nav>
    <button class="sidebar-minimizer brand-minimizer" type="button" /></button>
</div>
