{% trans_default_domain constant('ChameleonSystem\\CoreBundle\\i18n\\TranslationConstants::DOMAIN_BACKEND') %}

<div class="row field{{ fieldName }}">
    <div class="col-md-6 col-sm-4">
        {% include 'userInput/form/hidden.html.twig'
        with {
            'sName': fieldName,
            'sFieldId': fieldName,
            'sValue': fieldValue
        }
        %}
        <div class="row">
            <div class="col-md-12 form-group">
        {% include 'userInput/form/text.html.twig'
        with {
            'sName': fieldName~'_lat',
            'sFieldId': fieldName~'_lat',
            'sValue': latitude,
            'sLabelText': 'chameleon_system_core.field_google_map.latitude'|trans ~' (latitude)',
            'sInputClass': 'form-control form-control-sm fieldGoogleMapCoordinate',
            'bRequired': isMandatoryField
        }
        %}
            </div>
         </div>
        <div class="row">
            <div class="col-md-12 form-group">

        {% include 'userInput/form/text.html.twig'
        with {
        'sName': fieldName~'_lng',
        'sFieldId': fieldName~'_lng',
        'sValue': longitude,
        'sLabelText': 'chameleon_system_core.field_google_map.longitude'|trans ~' (longitude)',
        'sInputClass': 'form-control form-control-sm fieldGoogleMapCoordinate',
        'bRequired': isMandatoryField
        }
        %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 form-group">
                <button type="button" class="btn btn-sm btn-primary openMap">
                    <span class="btn-icon"><i class="fas fa-map-marked-alt"></i> {{'chameleon_system_core.field_google_map.show_map'|trans}}</span>
                </button>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-sm-8">
        {% if not googleMapsApiKey %}
            <div class="alert alert-info">{{ 'chameleon_system_core.field_google_map.missing_api_key_error'|trans|nl2br }}</div>
        {% else %}
            {% if latitude and longitude %}
                <img border="0" id="staticMap" class="img-fluid" src="//maps.googleapis.com/maps/api/staticmap?size=500x250&amp;zoom=11&amp;maptype=roadmap&amp;markers=color:blue%7Clabel:S%7C{{ latitude|e('html_attr') }},{{ longitude|e('html_attr') }}&amp;key={{ googleMapsApiKey|e('html_attr') }}">
            {% endif %}
        {% endif %}
    </div>
</div>