{#
    description: show a select field
    vars:
        - same as /common/userInput/form/text.html.twig
        - aValueList (array with each element having  sValue and sName)
        - onChange (JS event)
#}
{% if autoWidth is not defined %}
    {% set options -%}
        {"width": "100%"}
    {%- endset %}
{% endif %}

{% extends "/userInput/form/text.html.twig" %}
{% block field %}
    <select
            {% if sInputClass is defined %}class="{{sInputClass}}"{% endif %}
            {% if sFieldId is defined %}id="{{sFieldId}}"{% endif %}
            {% if onChange is defined %} onchange="{{onChange}}" {% endif %}
            name="{{sName}}"
            {% if bRequired == true%} required {%endif%}
            data-select2-option='{{ options }}'
    >
        {% for aValue in aValueList %}
            <option value="{{aValue.sValue}}" {% if sValue == aValue.sValue %}selected="selected"{% endif %}>{{aValue.sName}}</option>
        {% endfor %}
    </select>
{% endblock %}
