{# @var array geoLocation #}
{% if geoLocation %}
<div class="container">
<div class="row mb-1 g-0">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-sm mb-0 mt-3">
                <thead>
                    <tr>
                        <th>{{ 'chameleon_system_cms_dashboard.widget.google_analytics.country' | trans }}</th>
                        <th>{{ 'chameleon_system_cms_dashboard.widget.google_analytics.region' | trans }}</th>
                        <th>{{ 'chameleon_system_cms_dashboard.widget.google_analytics.engaged_sessions' | trans }}</th>
                        <th>{{ 'chameleon_system_cms_dashboard.widget.google_analytics.conversions' | trans }}</th>
                    </tr>
                </thead>
                <tbody>
                {% for locationData in geoLocation %}
                    <tr>
                        <td>{{ locationData.dimension_0 }}</td>
                        <td>{{ locationData.dimension_1 }}</td>
                        <td>{{ locationData.metric_0 }}</td>
                        <td>{{ locationData.metric_1 }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
{% else %}
    <div class="chart-no-data-message">
        {{ 'chameleon_system_cms_dashboard.widget.no_data_available' | trans }}
    </div>
{% endif %}