{# @var array trafficSource #}

{% if trafficSource %}
<canvas id="trafficSourceChart" style="max-height: 250px;"></canvas>
<script>
    document.addEventListener("widget:loaded", function () {
        const currentTrafficSource = {{ trafficSource.current|json_encode|raw }};
        const previousTrafficSource = {{ trafficSource.previous|json_encode|raw }};

        if (currentTrafficSource.length === 0) {
            console.error("No data available for engagement chart");
            return;
        }

        labels = currentTrafficSource.map(entry => {
            return entry.dimension_0;
        });

        currentDataPoints = currentTrafficSource.map(entry => entry.metric_0);
        previousDataPoints = previousTrafficSource.map(entry => entry.metric_0);

        new Chart(document.getElementById('trafficSourceChart').getContext('2d'), {
            type: "bar",
            data: {
                labels: labels,
                datasets: [
                    {
                        label: "{{ 'chameleon_system_cms_dashboard.widget.current_month' | trans }}",
                        data: currentDataPoints, // Example values
                        backgroundColor: '{{ generate_color(0,2)|e('js') }}',
                    },
                    {
                        label: "{{ 'chameleon_system_cms_dashboard.widget.previous_month' | trans }}",
                        data: previousDataPoints, // Example values
                        backgroundColor: '{{ generate_color(1,2)|e('js') }}',
                    }
                ]
            },
            options: {
                responsive: true,
                plugins: {
                    tooltip: {mode: "index"},
                },
                scales: {
                    x: {title: {display: true, text: "{{ 'chameleon_system_cms_dashboard.widget.google_analytics.traffic_source_x_achses' | trans }}"}},
                    y: {title: {display: true, text: "{{ 'chameleon_system_cms_dashboard.widget.google_analytics.engaged_sessions' | trans }}"}}
                }
            }
        });
    });
</script>
{% else %}
    <div class="chart-no-data-message p-4">
        {{ 'chameleon_system_cms_dashboard.widget.no_data_available' | trans }}
    </div>
{% endif %}
