<a href="{{ link }}" role="button" class="btn btn-sm {{ sButtonStyle }}{% if sItemkey %} item{{ sItemKey }}{% endif %} {{ sCSSClass }}"
{%- if sOnClick %} onclick="{{ sOnClick|raw }}" {% endif -%}
{%- if cssID %} id="{{ cssID }}" {% endif -%}
{%- if target %} target="{{ target }}" {% endif -%}
{%- if onMouseOver %} onmouseover="{{ onMouseOver }}" {% endif -%}
>
{%- if sIconURL is defined -%}
    <span class="btn-icon" style="background-image: url({{ sIconURL }});">{{ sTitle }}</span>
{%- else -%}
    {%- if sIcon|length > 0 %}<i class="{{ sIcon }} pr-2"></i>{% endif -%}
    {{ sTitle }}
{%- endif -%}
</a>
