<div class="dropdown show">
    <a class="btn btn-sm btn-secondary dropdown-toggle {{ sButtonStyle }} {% if sItemKey %} item{{ sItemKey }}{% endif %} {{ sCSSClass }}" href="#" {% if sOnClick -%}
        onclick="{{ sOnClick|raw }}"
    {%- endif -%} role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

    {%- if sIconURL -%}
        <span class="btn-icon" style="background-image: url({{ sIconURL }});">
    {%- else -%}
        <span>
    {%- endif -%}
    {{ sTitle }}</span>
    </a>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        {% for aSubItem in aSubItems %}
            <a class="dropdown-icon dropdown-item" style="background-image: url({{ aSubItem.sIconURL }});" href="javascript:{{ aSubItem.sOnClick }}">{{ aSubItem.sTitle }}</a>
        {% endfor %}
    </div>
</div>
