{% trans_default_domain constant('ChameleonSystem\\CoreBundle\\i18n\\TranslationConstants::DOMAIN_BACKEND') %}

<link href="{{ themePath }}/css/cms_user_style/main.css" rel="stylesheet" type="text/css" />
<link href="{{ resourcePath }}/css/modules/templateengineeditor.css" rel="stylesheet" type="text/css" />

<script language="javascript" type="text/javascript">
    var oldJQuery=window.jQuery;
    var oldCashSign=window.$;
</script>
<script src="{{ resourcePath }}/javascript/jquery/jquery-3.3.1.min.js" type="text/javascript"></script><script></script>
<script src="{{ resourcePath }}/javascript/jquery-ui-1.12.1.custom/jquery-ui.js" type="text/javascript"></script>
<script src="{{ resourcePath }}/javascript/jquery/bgiframe/jquery.bgiframe.js" type="text/javascript"></script>
<script src="{{ resourcePath }}/javascript/modules/TemplateEngine.js" type="text/javascript"></script>
{% if hasLockUser %}
    <link href="{{ themePath }}/css/tooltip.css" rel="stylesheet" type="text/css" />
{% endif %}

<script type="text/javascript">
    var chameleonJQuery = jQuery.noConflict(true); // http://api.jquery.com/jQuery.noConflict/

    chameleonJQuery(document).ready(function($) {
        initModuleChooser($);

        var container = '<div id="cmsModuleMenu" style="display: none;">';
        container += '<div class="moduleMenuHeader"><a href="javascript:void(0);">{{ "chameleon_system_core.template_engine.module_chooser_close"|trans }}</a></div>';
        container += '<a class="scrolltop" href="javascript:void(0);">&nbsp;</a>';
        container += '<div id="menuWrapper">&nbsp;</div>';
        container += '<a href="javascript:void(0);" class="scrollbottom">&nbsp;</a>';
        container += '</div>';

        $("body").append(container);

        $('div.moduleMenuHeader a').click(function () {
            $('#cmsModuleMenu').hide('fast');
        });

        // Make Draggable
        $('#cmsModuleMenu').draggable({ handle:'div.moduleMenuHeader' });

        $('#cmsModuleMenu a.scrollbottom').click(function () {
            scrollDown();
        });

        $('#cmsModuleMenu a.scrolltop').click(function () {
            scrollUp();
        });

        $('.moduleChooserMenu .cmsModuleMenuLauncher').click(function(e) {
            var xcoord = e.pageX;
            var ycoord = e.pageY;
            var cssObj = {
                top:ycoord,
                left:xcoord
            };
            var container = $(this).parentsUntil('.moduleChooserMenu').parent();


            $('#cmsModuleMenu').css(cssObj);

            $('#menuWrapper').html($('.moduleChooserMenuTree', container).html());

            $('div#cmsModuleMenu').show('fast');

            $('#cmsModuleMenu .moduleInstanceSwitcher').click(function(e){
                var sourceSpot = $(this).data('sourcespot');
                var targetSpot = $(this).data('targetspot');
                SwitchModuleInstances(sourceSpot, targetSpot);
            });

            $('#cmsModuleMenu .moduleInstanceSwitcher').mouseover(function(){
                var targetSpot = $(this).data('targetspot');
                var CMSModuleChooserTarget = $('#CMSModuleChooserTarget'+targetSpot);
                CMSModuleChooserTarget.css('border','2px red solid');
            });

            $('#cmsModuleMenu .moduleInstanceSwitcher').mouseout(function(){
                var targetSpot = $(this).data('targetspot');
                var CMSModuleChooserTarget = $('#CMSModuleChooserTarget'+targetSpot);
                CMSModuleChooserTarget.css('border','2px black solid');
            });


        });
    });

    window.jQuery =oldJQuery;
    window.$ = oldCashSign;
</script>