{% for module in modules %}
    {% if module.views | length > 0 %}
        <li style="height:auto">
            <a href="javascript:void(0);" class="hasChildren" onclick="openMenuLevel(this);return false;"><span class="menueicon"><i class="{{ module.icon }}"></i> {{ module.name }}</span></a>
            <ul>
                {% for view in module.views %}
                    <li><a href="javascript:void(0);" onclick="CreateModuleInstance('[{replaceSpotName}]','{{ module.id|e('js') }}', '{{ view.systemName|e('js') }}');return false;"><span class="menueicon"><i class="fas fa-th-large"></i> {{ view.displayName }}</span></a></li>
                {% endfor %}
            </ul>
        </li>
    {% else %}
        <li style="height:auto"><a href="javascript:void(0);"><span class="menueicon"><i class="{{ module.icon }}"></i> {{ module.name }}</span></a></li>
    {% endif %}
{% endfor %}
