{% set selectOptions -%}
    {"placeholder": "{{ 'chameleon_system_core.form.select_box_nothing_selected'|trans }}"{% if allowEmptySelection %}, "allowClear": true{% endif %}, "width": "100%" }
{%- endset %}

<div class="lookup-container-field-types row">
    <div class="col-12 col-lg-6">
        <select name="{{ fieldName|e(html_attr) }}" id="{{ fieldName|e(html_attr) }}" class="{{ sClass|e(html_attr) }}"
                data-select2-option='{{ selectOptions|e(html_attr) }}'>
            {% if allowEmptySelection %}
                <option></option>
            {% endif %}
            {% set helpText = "" %}
            {% for key, option in options %}
                {% if key == connectedRecordId %}
                    {% set selected = "selected" %}
                    {% set helpText = fieldsHelpText[key] %}
                {% else %}
                    {% set selected = "" %}
                {% endif %}
                <option {{ selected }} value="{{ key|e(html_attr) }}">{{ option }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="col-12 pt-2 col-lg-6 pt-lg-0">
        <div id="{{ fieldName|e(html_attr) }}-helpContainer" class="helpText">{{ helpText|raw }}</div>
    </div>

    {% for id, helpText in fieldsHelpText %}
        <div id="fieldTypeHelp{{ id|e(html_attr) }}" style="display: none;">{{ helpText|raw }}</div>
    {% endfor %}
</div>
