{# @var definition array #}
<field name="{{ fieldName }}" type="{{ type }}" column="{{ column }}" nullable="false" >
    <options>
        <option name="comment">{{ comment }}</option>
        {% if default is not null %}<option name="default">{{ default }}</option>{% endif %}
    </options>
</field>