{# @var definition array #}
<field name="{{ fieldName }}" type="decimal" column="{{ column }}" length="{{ length }}" nullable="false" precision="{{ precision }}" scale="{{ scale }}" >
    <options>
        <option name="comment">{{ comment }}</option>
        {% if default is defined %}<option name="default">{{ default }}</option>{% endif %}
    </options>
</field>