{# @var definition array #}
<field name="{{ fieldName }}" type="{{ type }}" column="{{ column }}" nullable="false" >
    <options>
        <option name="comment">{{ comment }}</option>
        <option name="default">{{ default }}</option>
    </options>
</field>