{# accessRightsMedia \ChameleonSystem\MediaManager\AccessRightsModel #}
<div class="snippetMediaManagerListList">
    <table>
        <tr>
            <th colspan="2">{{ 'chameleon_system_media_manager.list.table_header_image' | trans }}</th>
            <th>{{ 'chameleon_system_media_manager.list.table_header_name' | trans }}</th>
            <th>{{ 'chameleon_system_media_manager.list.table_header_tags' | trans }}</th>
            <th>{{ 'chameleon_system_media_manager.list.table_header_info' | trans }}</th>
            <th class="actions">{{ 'chameleon_system_media_manager.list.table_header_actions' | trans }}</th>
        </tr>
        {% set mediaItems = listResult.items %}
        {% for mediaItem in mediaItems %}
            {# mediaItem \ChameleonSystem\MediaManager\DataModel\MediaItemDataModel #}
            <tr class="cms-media-item" data-id="{{ mediaItem.id }}" data-name="{{ mediaItem.name }}">
                <td class="selection-box">
                    <input type="checkbox" class="select-row">
                </td>
                <td class="image">
                    <div class="image-col">
                        <div class="image-container">
                            <img src="{{ mediaItem.id | cmsthumb(500, 100) }}" alt="">
                        </div>
                    </div>
                </td>
                <td>
                    <div class="caption{% if accessRightsMedia.edit %} editable{% endif %}"
                         data-type="description">{{ mediaItem.name }}</div>
                </td>
                <td>
                    {% if mediaItem.tags | length > 0 %}<span class="glyphicon glyphicon-tag"></span>{% endif %}
                    <div class="tags{% if accessRightsMedia.edit %} editable{% endif %}"
                         data-type="tags">{{ mediaItem.tags | join(', ') }}</div>
                </td>
                <td class="info">
                    {% if mediaItem.type|lower in ['jpg', 'png', 'gif'] %}<img
                        src="/chameleon/blackbox/images/filetype_icons/16x16/{{ mediaItem.type|lower }}.png"
                        alt="">{% endif %} {{ mediaItem.type }}<br>
                    <span class="glyphicon glyphicon-resize-full"></span> {{ mediaItem.width }} x {{ mediaItem.height }}
                    px<br>
                    <span class="glyphicon glyphicon-info-sign"></span> ID {{ mediaItem.id }}
                    {% if mediaItem.dateChanged %}<br><span
                            class="glyphicon glyphicon-time"></span> {{ 'chameleon_system_media_manager.changed_date' | trans }} {{ mediaItem.dateChanged | date('d.m.Y H:i:s') }}{% endif %}
                </td>
                <td>
                    {% include('mediaManager/list/actions.html.twig') with {'mediaItem': mediaItem, 'pickImageMode': pickImageMode, 'pickImageCallback': pickImageCallback, 'pickImageWithCrop': pickImageWithCrop, 'accessRightsMedia': accessRightsMedia} %}
                </td>
            </tr>
        {% endfor %}
    </table>
</div>