{# accessRightsMedia \ChameleonSystem\MediaManager\AccessRightsModel #}
<div class="snippetMediaManagerListGrid snippetMediaManagerListGridLarge">
    {% set mediaItems = listResult.items %}
    {% if mediaItems | length > 0 %}
        <div class="row image-row">
            {% for mediaItem in mediaItems %}
                {# mediaItem \ChameleonSystem\MediaManager\DataModel\MediaItemDataModel #}
                <div class="image-col">
                    <div class="inner cms-media-item" data-id="{{ mediaItem.id }}" data-name="{{ mediaItem.name }}">

                        <div class="image-container">
                            <img src="{{ mediaItem.id | cmsthumb(800, 200) }}" alt="">
                        </div>
                        <div class="no-drag">
                            {% include('mediaManager/list/actions.html.twig') with {'mediaItem': mediaItem, 'pickImageMode': pickImageMode, 'pickImageCallback': pickImageCallback, 'pickImageWithCrop': pickImageWithCrop, 'accessRightsMedia': accessRightsMedia} %}
                            <div class="caption{% if accessRightsMedia.edit %} editable{% endif %}"
                                 data-type="description">{{ mediaItem.name }}</div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="no-items-message">{{ 'chameleon_system_media_manager.list.no_items_message' | trans }}</div>
    {% endif %}
</div>