{# listState \ChameleonSystem\MediaManager\MediaManagerListState #}
{% if numberOfItems > 0 %}

    <div class="row snippetMediaManagerListPaging">
        <nav class="col-auto mr-auto mb-auto">
            <ul class="pagination pagination-md TFullGroupTablePagination">
                <li class="page-item disabled">
                    <a href="#" class="page-link"><span class="glyphicon glyphicon-list" aria-hidden="true"
                                      style="margin-right: 5px;"></span>{{ 'chameleon_system_media_manager.paging.paging_info' | trans({'%pageNumber%': listState.pageNumber + 1, '%numberOfPages%': numberOfPages, '%numberOfItems%': numberOfItems}) }}
                    </a>
                </li>

                {% if numberOfPages > 1 %}

                    <li{% if listState.pageNumber < 1 %} class="page-item disabled"{% endif %}><a href="#"
                                                                                                  class="page-link go-to-page"
                                                                                                  data-page-number="0"><span
                                    class="glyphicon glyphicon-fast-backward" aria-hidden="true"></span></a></li>
                    <li{% if listState.pageNumber < 1 %} class="page-item disabled"{% endif %}><a href="#"
                                                                                                  class="page-link go-to-page"
                                                                                                  data-page-number="{{ listState.pageNumber - 1 }}"><span
                                    class="glyphicon glyphicon-backward" aria-hidden="true"></span></a></li>


                    {# always show first page#}
                    <li{% if 0 == listState.pageNumber %} class="page-item active"{% endif %}>
                        <a href="#" class="page-link go-to-page" data-page-number="0">1</a>
                    </li>

                    {# first gap from page 4#}
                    {% if listState.pageNumber > 2 %}
                        <li class="page-item block"><a>...</a></li>
                    {% endif %}

                    {% set endLoop = listState.pageNumber+1 %}
                    {% if listState.pageNumber == 0 %}
                        {% set endLoop = listState.pageNumber+2 %}
                    {% endif %}

                    {% for i in listState.pageNumber-1..endLoop %}
                        {% if i > 0 and i <= numberOfPages-1 %}
                            <li{% if i == listState.pageNumber %} class="page-item active"{% endif %}>
                                <a href="#" class="page-link go-to-page" data-page-number="{{ i }}">{{ i+1 }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}


                    {% if listState.pageNumber < numberOfPages-1 and numberOfPages > 4 %}
                        {% if listState.pageNumber < numberOfPages-3 %}
                            <li class="page-item block"><a class="page-link">...</a></li>
                        {% endif %}
                        {% if listState.pageNumber < numberOfPages-2 %}
                            <li class="page-item">
                                <a href="#" class="page-link go-to-page"
                                   data-page-number="{{ numberOfPages-1 }}">{{ numberOfPages }}</a>
                            </li>
                        {% endif %}
                    {% endif %}

                    <li{% if numberOfPages < listState.pageNumber+2 %} class="page-item disabled"{% endif %}><a href="#"
                                                                                                                class="page-link go-to-page"
                                                                                                                data-page-number="{{ listState.pageNumber + 1 }}"><span
                                    class="glyphicon glyphicon-forward" aria-hidden="true"></span></a></li>
                    <li{% if numberOfPages < listState.pageNumber+2 %} class="page-item disabled"{% endif %}><a href="#"
                                                                                                                class="page-link go-to-page"
                                                                                                                data-page-number="{{ numberOfPages - 1 }}"><span
                                    class="glyphicon glyphicon-fast-forward" aria-hidden="true"></span></a></li>
                {% endif %}
            </ul>
        </nav>
        <div class="col-auto form-group TFullGroupTablePerPageSelect">
            <div class="input-group">
                <div class="input-group-prepend"><span class="input-group-text">{{ 'chameleon_system_media_manager.paging.per_page' | trans }}</span></div>

                <select class="page-size-selection form-control">
                    {% for label, value in pageSizes %}
                        <option value="{{ value | e('html_attr') }}"{% if value == listState.pageSize %} selected{% endif %}>{{ label }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
{% endif %}