{# listState \ChameleonSystem\MediaManager\MediaManagerListState #}
{% if numberOfItems > 0 %}

    <div class="row snippetMediaManagerListPaging">
        <nav class="col-auto mr-auto mb-auto">
            <ul class="pagination pagination-md TFullGroupTablePagination">
                <li class="page-item disabled">
                    <a href="#" class="page-link">
                        <i class="fas fa-list mr-2"></i>
                        {{ 'chameleon_system_media_manager.paging.paging_info' | trans({'%pageNumber%': listState.pageNumber + 1, '%numberOfPages%': numberOfPages, '%numberOfItems%': numberOfItems}) }}
                    </a>
                </li>

                {% if numberOfPages > 1 %}
                    <li class="page-item{% if listState.pageNumber < 1 %} disabled{% endif %}">
                        <a href="#" class="page-link go-to-page" data-page-number="0">
                            <i class="fas fa-fast-backward"></i>
                        </a>
                    </li>
                    <li class="page-item{% if listState.pageNumber < 1 %} disabled{% endif %}">
                        <a href="#" class="page-link go-to-page" data-page-number="{{ listState.pageNumber - 1 }}">
                            <i class="fas fa-backward"></i>
                        </a>
                    </li>

                    {# always show first page#}
                    <li class="page-item{% if 0 == listState.pageNumber %} active{% endif %}">
                        <a href="#" class="page-link go-to-page" data-page-number="0">1</a>
                    </li>

                    {# first gap from page 4#}
                    {% if listState.pageNumber > 2 %}
                        <li class="page-item block"><a>...</a></li>
                    {% endif %}

                    {% set endLoop = listState.pageNumber + 1 %}
                    {% if listState.pageNumber == 0 %}
                        {% set endLoop = listState.pageNumber + 2 %}
                    {% endif %}

                    {% for i in listState.pageNumber - 1..endLoop %}
                        {% if i > 0 and i <= numberOfPages - 1 %}
                            <li class="page-item{% if i == listState.pageNumber %} active{% endif %}">
                                <a href="#" class="page-link go-to-page" data-page-number="{{ i }}">{{ i + 1 }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}

                    {% if listState.pageNumber < numberOfPages - 1 and numberOfPages > 4 %}
                        {% if listState.pageNumber < numberOfPages - 3 %}
                            <li class="page-item block"><a class="page-link">...</a></li>
                        {% endif %}
                        {% if listState.pageNumber < numberOfPages - 2 %}
                            <li class="page-item">
                                <a href="#" class="page-link go-to-page" data-page-number="{{ numberOfPages - 1 }}">{{ numberOfPages }}</a>
                            </li>
                        {% endif %}
                    {% endif %}

                    <li class="page-item{% if numberOfPages < listState.pageNumber + 2 %} disabled{% endif %}">
                        <a href="#" class="page-link go-to-page" data-page-number="{{ listState.pageNumber + 1 }}">
                            <i class="fas fa-forward"></i>
                        </a>
                    </li>
                    <li class="page-item{% if numberOfPages < listState.pageNumber + 2 %} disabled{% endif %}">
                        <a href="#" class="page-link go-to-page" data-page-number="{{ numberOfPages - 1 }}">
                            <i class="fas fa-fast-forward"></i>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>
        <div class="col-auto form-group TFullGroupTablePerPageSelect">
            <div class="input-group">
                <div class="input-group-prepend"><span class="input-group-text">{{ 'chameleon_system_media_manager.paging.per_page' | trans }}</span></div>

                <select class="page-size-selection form-control">
                    {% for label, value in pageSizes %}
                        <option value="{{ value | e('html_attr') }}"{% if value == listState.pageSize %} selected{% endif %}>{{ label }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
{% endif %}