{# @var treeNodes \ChameleonSystem\CoreBundle\DataModel\BackendTreeNodeDataModel #}


{% if isInIframe == false %}

<div class="card">
    <div class="card-header">
        <h3>Navigation</h3>
    </div>
    <div class="card-body simple-tree-card">
{% endif %}

        <div id="navigationTreeContainer{% if showAssignDialog == true %}-checkboxes{% endif %}"></div>

        <div class="treelegend" style="display: none;">
            <h3>
                <span class="nodeIndicatorIcon"></span>
                <span>{{ 'chameleon_system_core.cms_module_page_tree.legend_header' | trans }}</span>
            </h3>

            <div class="text">
                <span class="nodeIndicatorIcon"></span>
                <span>{{ 'chameleon_system_core.cms_module_page_tree.legend_node_has_no_page' | trans }}</span>
            </div>

            <div class="otherConnectedNode">
                <span class="nodeIndicatorIcon"></span>
                <span>{{ 'chameleon_system_core.cms_module_page_tree.legend_has_connected_pages' | trans }}</span>
            </div>

            <div class="activeConnectedNode">
                <span class="nodeIndicatorIcon"></span>
                <span>{{ 'chameleon_system_core.cms_module_page_tree.legend_connected_to_selected_page' | trans }}</span>
            </div>

            <div class="restrictedPage">
                <span class="nodeIndicatorIcon iconRestricted" style="background-image: url('<?php echo TGlobal::OutHTML(TGlobal::GetStaticURLToWebLib('/images/tree/lock.png')); ?>');"></span>
                <span>{{ 'chameleon_system_core.cms_module_page_tree.legend_connected_to_protected_page' | trans }}</span>
            </div>

            <div class="legendLine">
                <span class="nodeIndicatorIcon iconHidden" style="background-image: url('<?php echo TGlobal::OutHTML(TGlobal::GetStaticURLToWebLib('/images/tree/hidden.png')); ?>');"></span>
                <span>{{ 'chameleon_system_core.cms_module_page_tree.legend_hidden' | trans }}</span>
            </div>

            <div class="legendLine">
                <span class="nodeIndicatorIcon iconExternalLink" style="background-image: url('<?php echo TGlobal::OutHTML(TGlobal::GetStaticURLToWebLib('/images/icon_external_link.gif')); ?>');"></span>
                <span>{{ 'chameleon_system_core.cms_module_page_tree.legend_external_link' | trans }}</span>
            </div>
        </div>

{% if isInIframe == false %}
    </div>
</div>
{% endif %}

<script>
    $("#navigationTreeContainer")
        .jstree({
            "core":{
                "multiple": true,
                "data": {
                    "url": "{{ treeNodesAjaxUrl | raw }}",
                    "data": function(node) {
                        return {
                            'id' : node.id
                        };
                    }
                }
            },
            "types": {
                "default": {
                    "icon": "fas fa-folder-open"
                },
                "pageFolder": {
                    "icon": "fas fa-folder-open",
                    "check_node": false
                },
                "page": {
                    "icon": "far fa-file"
                }
            },
            "plugins":[ "types", "wholerow", "changed"]
        });

    $("#navigationTreeContainer-checkboxes")
        .jstree({
            "core":{
                "multiple": true,
                "data": {
                    "url": "{{ treeNodesAjaxUrl | raw }}",
                    "data": function(node) {
                        return {
                            'id' : node.id
                        };
                    }
                }
            },
            "types": {
                "default": {
                    "icon": "fas fa-folder-open"
                },
                "pageFolder": {
                    "icon": "fas fa-folder-open",
                    "check_node": false
                },
                "page": {
                    "icon": "far fa-file"
                }
            },
            "plugins":[ "types", "wholerow", "changed", "checkbox"]
        });

</script>