{# @var mediaItem \ChameleonSystem\MediaManager\DataModel\MediaItemDataModel #}
{# @var accessRightsMedia \ChameleonSystem\MediaManager\AccessRightsModel #}
<div class="snippetMediaManagerDetail cms-media-item" data-id="{{ mediaItem.id }}" data-name="{{ mediaItem.name }}">
    <div class="row details">
        <div class="col-12 mb-4 col-xl-5 mb-xl-0 image mb-2">
            <img src="{{ constant('URL_MEDIA_LIBRARY') }}{{ mediaItem.path }}" alt="" class="preview">
            <a href="{{ constant('URL_MEDIA_LIBRARY') }}{{ mediaItem.path }}" target="_blank" class="btn btn-success btn-sm mt-2"><i class="fas fa-download mr-2"></i>{{ 'chameleon_system_media_manager.details.download_button' | trans }}</a>
            {% if accessRightsMedia.edit %}
                <a href="#" target="_blank" class="btn btn-primary btn-sm mt-2 replace-image"><i class="fas fa-sync mr-2"></i>{{ 'chameleon_system_media_manager.details.replace_button' | trans }}</a>
            {% endif %}
            {% if accessRightsMedia.delete and not pickImageMode %}
                <a href="#" class="btn btn-danger btn-sm mt-2 delete-item"><i class="far fa-trash-alt mr-2"></i>{{ 'chameleon_system_media_manager.list_actions.delete' | trans }}</a>
            {% endif %}

            {% for additionalButtonTemplate in additionalButtonTemplates %}
                {% include additionalButtonTemplate %}
            {% endfor %}

            {% if pickImageMode %}
                <a class="btn btn-secondary btn-sm mt-2 pick-image"><i class="far fa-check-circle mr-2"></i>{{ 'chameleon_system_media_manager.list_actions.select' | trans }}</a>
            {% endif %}

            <table class="info mt-4">
                <tr>
                    <td>
                       {{ mediaItem.iconHtml|raw }}
                    </td>
                    <td>{{ mediaItem.type }}</td>
                </tr>
                <tr>
                    <td><i class="fas fa-expand-arrows-alt mr-2"></i></td>
                    <td>{{ mediaItem.width }} x {{ mediaItem.height }} px</td>
                </tr>
                <tr class="entry-id-copy-button" data-entry-id="{{ mediaItem.id | e("html_attr") }}" title="{{ 'chameleon_system_core.text.copy_id_to_clipboard' | trans | e("html_attr") }}">
                    <td>
                        <i class="fas fa-info-circle mr-2"></i>
                    </td>
                    <td>ID {{ mediaItem.id }} <i class="far fa-clipboard"></i></td>
                </tr>
                <tr class="image-url-copy-button" data-image-url="{{ constant('URL_MEDIA_LIBRARY') | e("html_attr") }}{{ mediaItem.path | e("html_attr") }}" title="{{ 'chameleon_system_core.text.copy_image_url_to_clipboard' | trans | e("html_attr") }}">
                    <td><i class="far fa-file mr-2"></i></td>
                    <td>
                        <input type="text" value="{{ mediaItem.path }}" class="border-0" style="width: 90%">
                        <i class="far fa-clipboard"></i>
                    </td>
                </tr>
                {% if mediaItem.dateChanged %}
                    <tr>
                        <td><i class="far fa-clock mr-2"></i></td>
                        <td>{{ 'chameleon_system_media_manager.changed_date' | trans }} {{ mediaItem.dateChanged | date('d.m.Y H:i:s') }}</td>
                    </tr>
                {% endif %}
            </table>
        </div>

        <div class="col-12 col-xl-7 edit-form pr-0 pl-0">
            <iframe src="{{ tableEditorIframeUrl }}"></iframe>
        </div>
    </div>

    <hr>
    <h3 class="usage-headline">{{ 'chameleon_system_core.table_editor_media.media_usage' | trans }}</h3>
    <div class="row pb-1 pt-1"><button class="load-usages">{{ 'chameleon_system_core.table_editor_media.load_usages' | trans }}</button></div>
    {% if usagesErrorMessage %}
        <div class="alert alert-danger">{{ usagesErrorMessage }}</div>
    {% endif %}

    <div id="usages-list"></div>

    {% for additionalDetailViewTemplate in additionalDetailViewTemplates %}
        {% include(additionalDetailViewTemplate) %}
    {% endfor %}

</div>
