{#
@var \ChameleonSystem\CmsDashboardBundle\Bridge\Chameleon\Dashboard\Widgets\DashboardWidgetInterface widget
@var array widgetCollections
@var array availableCollections
@var bool forceReload
@var string headerBackgroundImage
#}
<div id="cms-dashboard">
    <div class="card mb-4 bg-image" style="background-image: url('{{ headerBackgroundImage|e('html_attr') }}');">
        <div class="card-body pb-5">
            <div class="float-right">
                {% if availableCollections|length > 0 %}
                <form action="">
                    <input type="hidden" name="reload" value="true">
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-primary" id="reload-all-widgets">
                            <i class="fas fa-sync"></i> {{ 'chameleon_system_cms_dashboard.reload_all'|trans }}
                        </button>

                        <button type="button"
                                id="toggle-edit-mode"
                                class="btn btn-primary"
                                data-text-enable="{{ 'chameleon_system_cms_dashboard.widget.edit_mode_enable'|trans }}"
                                data-text-disable="{{ 'chameleon_system_cms_dashboard.widget.edit_mode_disable'|trans }}"
                                data-class-enable="btn-success"
                                data-class-disable="btn-primary"
                        >
                            <i class="fas fa-edit"></i> <span>{{ 'chameleon_system_cms_dashboard.widget.edit_mode_enable'|trans }}</span>
                        </button>
                    </div>
                </form>
                {% endif %}

                <div class="d-flex align-items-center mt-2 d-none" id="add-widget-collection-container">
                    {% if availableCollections|length > 0 %}
                        <select id="add-widget-collection" class="form-control mr-2">
                            <option value="">{{ 'chameleon_system_cms_dashboard.widget.collection_selection'|trans }}</option>
                            {% for collectionId, name in availableCollections %}
                                {% set collectionNameTranslationKey = 'chameleon_system_cms_dashboard.widget.group_name_' ~ name %}
                                <option value="{{ name }}">{{ collectionNameTranslationKey|trans }}</option>
                            {% endfor %}
                        </select>
                        <button id="add-widget-button" class="btn btn-success">
                            <i class="fas fa-plus"></i>
                        </button>
                    {% endif %}
                </div>
            </div>

            <h1 class="display-5 text-shadow-white-light">{{ 'chameleon_system_cms_dashboard.dashboard'|trans }}</h1>
            <p class="lead text-shadow-white-light">{{ 'chameleon_system_cms_dashboard.for'|trans }} {{ loggedInUserName }} [{{ cmsOwner }}]</p>
        </div>
    </div>
    {% if availableCollections|length <= 0 and widgetCollections|length <= 0 %}
    <div class="mb-4">
        <div class="alert alert-info pb-5">
            {{ 'chameleon_system_cms_dashboard.no_widgets_message'|trans }}
        </div>
    </div>
    {% else %}
    <div id="sortable-list">
        {% for widgetCollectionName, widgetCollection in widgetCollections %}
            {% set useWidgetContainerTemplate = true %}
            {% for widgetData in widgetCollection %}
                {% set widget = widgetData.widget %}
                {% set useWidgetContainerTemplate = widget.useWidgetContainerTemplate %}
            {% endfor %}

            <div class="{% if useWidgetContainerTemplate %}row {% endif %}dashboard-widget-collection" id="dashboard-widget-collection-{{ widgetCollectionName|e('html_attr') }}" data-id="{{ widgetCollectionName|e('html_attr') }}">
                {% set widgetCount = widgetCollection|length %}
                {% if widgetCount == 1 %}
                    {% set colClass = 12 %}
                {% elseif widgetCount == 2 %}
                    {% set colClass = 6 %}
                {% elseif widgetCount == 3 %}
                    {% set colClass = 4 %}
                {% else %}
                    {% set colClass = 4 %}
                {% endif %}

                {% for widgetData in widgetCollection %}
                    {% set widget = widgetData.widget %}
                    {% if useWidgetContainerTemplate %}
                        <div class="col-{{ colClass }}">
                            <div class="card mb-4{% if widget.colorCssClass %} {{ widget.colorCssClass|escape('html_attr') }}{% endif %}" id="widget-{{ widget.widgetId|replace({'widget-' : ''})|escape('html_attr') }}">
                                {% if loop.last %}
                                    <div class="delete-icon position-absolute top-0 end-0" style="display: none;">
                                        <button class="btn btn-danger delete-collection" title="{{ 'chameleon_system_cms_dashboard.widget.edit_hide'|trans|e('html_attr') }}">×</button>
                                    </div>
                                {% endif %}
                                <div class="card-header d-flex justify-content-between align-items-center">
                                    <span class="widget-title">{{ widget.title }}</span>
                                    {{ include('@ChameleonSystemCmsDashboard/snippets-cms/CmsDashboard/components/widget-dropdown-menu.html.twig') }}
                                </div>
                                <div class="card-body p-0">
                                    <div class="lazy-widget"
                                         data-service-alias="{{ widget.widgetId|escape('html_attr') }}">
                                        <div class="loading-spinner">Lade Widget…</div>
                                    </div>
                                </div>
                                {% if widget.footerHtml %}
                                    <div class="card-footer p-0">
                                        {{ widget.footerHtml|raw }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    {% else %}
                        <div>
                            <div class="delete-icon position-absolute top-0 end-0" style="display: none;">
                                <button class="btn btn-danger delete-collection" title="{{ 'chameleon_system_cms_dashboard.widget.edit_hide'|trans|e('html_attr') }}">&times;</button>
                            </div>
                            <div class="lazy-widget"
                                 data-service-alias="{{ widget.widgetId|escape('html_attr') }}">
                                <div class="loading-spinner">Lade Widget…</div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
    </div>
    {% endif %}
</div>
