{# @var array searchConsoleCurrentData #}
{# @var array searchConsolePreviousData #}
{# @var array searchConsoleTopImprovedQueries #}
{# @var int dayPeriod #}

{% set totalClicksCurrent = searchConsoleCurrentData.datasets[0].data|reduce((carry, item) => carry + item, 0) %}
{% set totalClicksPrevious = searchConsolePreviousData.datasets[0].data|reduce((carry, item) => carry + item, 0) %}
{% set totalImpressionsCurrent = searchConsoleCurrentData.datasets[1].data|reduce((carry, item) => carry + item, 0) %}
{% set totalImpressionsPrevious = searchConsolePreviousData.datasets[1].data|reduce((carry, item) => carry + item, 0) %}
<div class="row mb-1 g-0">
    <div class="col-md-6">
        <div class="bg-primary text-white p-3 d-flex justify-content-between align-items-center" style="border-radius: 0;">
            <div>
                <h5 class="mb-1">{{ 'chameleon_system_cms_dashboard.widget.search_console_total_clicks'|trans }}</h5>
                <p class="display-6 mb-0">{{ totalClicksCurrent|number_format(0, ',', '.') }}</p>
                <p class="small mb-0">{{ 'chameleon_system_cms_dashboard.widget.search_console_last_n_days'|trans({'%days%' : dayPeriod}) }}</p>
            </div>
            <div class="border-start ps-4">
                <p class="h4 mb-0">{{ totalClicksPrevious|number_format(0, ',', '.') }}</p>
                <p class="small mb-0">{{ 'chameleon_system_cms_dashboard.widget.search_console_previous_n_days'|trans({'%days%' : dayPeriod}) }}</p>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="bg-info text-white p-3 d-flex justify-content-between align-items-center" style="border-radius: 0;">
            <div>
                <h5 class="mb-1">{{ 'chameleon_system_cms_dashboard.widget.search_console_total_impressions'|trans }}</h5>
                <p class="display-6 mb-0">{{ totalImpressionsCurrent|number_format(0, ',', '.') }}</p>
                <p class="small mb-0">{{ 'chameleon_system_cms_dashboard.widget.search_console_last_n_days'|trans({'%days%' : dayPeriod}) }}</p>
            </div>
            <div class="border-start ps-4">
                <p class="h4 mb-0">{{ totalImpressionsPrevious|number_format(0, ',', '.') }}</p>
                <p class="small mb-0">{{ 'chameleon_system_cms_dashboard.widget.search_console_previous_n_days'|trans({'%days%' : dayPeriod}) }}</p>
            </div>
        </div>
    </div>
</div>

<canvas id="searchConsoleChart" style="max-height: 250px;"></canvas>
<script type="application/json" id="search-console-chart-meta">
{{ searchConsoleChartMeta|json_encode|raw }}
</script>
<script type="application/json" id="search-console-chart-data">
{{ {
    current: searchConsoleCurrentData,
    previous: searchConsolePreviousData
}|json_encode|raw }}
</script>

<div class="table-responsive">
    <table class="table table-sm mb-0 mt-3">
        <thead>
        <tr>
            <th>{{ 'chameleon_system_cms_dashboard.widget.search_console_search_term'|trans }}</th>
            <th>{{ 'chameleon_system_cms_dashboard.widget.search_console_clicks'|trans }} ({{ 'chameleon_system_cms_dashboard.widget.search_console_current'|trans }})</th>
            <th>{{ 'chameleon_system_cms_dashboard.widget.search_console_clicks'|trans }} ({{ 'chameleon_system_cms_dashboard.widget.search_console_previous'|trans }})</th>
            <th>{{ 'chameleon_system_cms_dashboard.widget.search_console_clicks'|trans }} {{ 'chameleon_system_cms_dashboard.widget.search_console_improvement'|trans }}</th>
            <th>{{ 'chameleon_system_cms_dashboard.widget.search_console_impressions'|trans }} ({{ 'chameleon_system_cms_dashboard.widget.search_console_current'|trans }})</th>
            <th>{{ 'chameleon_system_cms_dashboard.widget.search_console_impressions'|trans }} ({{ 'chameleon_system_cms_dashboard.widget.search_console_previous'|trans }})</th>
        </tr>
        </thead>
        <tbody>
        {% for query in searchConsoleTopImprovedQueries %}
            <tr>
                <td>{{ query.query }}</td>
                <td>{{ query.currentClicks|number_format(0, ',', '.') }}</td>
                <td>{{ query.previousClicks|number_format(0, ',', '.') }}</td>
                <td class="text-success">+{{ query.difference|number_format(0, ',', '.') }}</td>
                <td>{{ query.currentImpressions|number_format(0, ',', '.') }}</td>
                <td>{{ query.previousImpressions|number_format(0, ',', '.') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
