{# @var treeNodes \ChameleonSystem\CoreBundle\DataModel\BackendTreeNodeDataModel #}

<div id="navigationTreeDataContainer" class="mb-4"
     data-field-name = "{{ fieldName }}"
     data-portal-select-mode = "{{ portalSelectMode }}"
     data-tree-nodes-ajax-url = "{{ treeNodesAjaxUrl | raw }}"
     data-update-selection-url = "{{ updateSelectionUrl | raw }}" >

    <div id="singleTreeNodeSelect" class="navigationTreeContainer"></div>
</div>

{{ breadcrumbStorageHTML | raw }}
