<!DOCTYPE html>
<html>
<head>
    <title>{{ constant('CMS_BACKEND_TITLE') }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="robots" content="noindex">

    {# src/CoreBundle/private/rendering/layouts/includes/global-php-vars.inc.php #}
    <script language="Javascript" type="text/javascript">
        /* global Variables coming from PHP */
        var _url_user_cms_public = '{{ constant('URL_USER_CMS_PUBLIC') | e('js') }}';
        var _url_cms = '{{ constant('URL_CMS') | e('js') }}';
        var _cmsurl = '{{ constant('URL_CMS') | e('js') }}';
        var _cms_controler = '{{ constant('PATH_CMS_CONTROLLER') | e('js') }}';
        var _cmsauthenticitytoken_parameter = '{{ authenticationTokenPlaceholderAsParameter | e('js') }}';
    </script>
    <script src="{{ '/wysiwyg/functions.js'| cms_static_url_web_lib }}" type="text/javascript"></script>
    <link href="{{ '/css/cms_user_style/main.css'| cms_static_url_web_lib }}" rel="stylesheet" type="text/css" />
    <link href="{{ '/iconFonts/fileIconVectors/file-icon-square-o.css'| cms_static_url_web_lib }}" rel="stylesheet" type="text/css" />
    <link href="{{ cmsGetPathTheme() }}/css/layout.css" rel="stylesheet" type="text/css"/>
    <link href="{{ '/bootstrap/css/bootstrap.min.css?v4.1.3' | cms_static_url_web_lib }}" media="screen"
          rel="stylesheet" type="text/css"/>
    <link href="{{ cmsGetPathTheme() }}/coreui/coreuiTheme.css?v4.3.2" media="screen" rel="stylesheet"
          type="text/css"/>
    <link href="{{ cmsGetPathTheme() }}/css/global.css" rel="stylesheet" type="text/css"/>

    <link href="{{ cmsGetPathTheme() }}/images/favicon.ico" rel="shortcut icon" />
    <link href="{{ '/iconFonts/fontawesome-free-5.8.1/css/all.css' | cms_static_url_web_lib }}" media="screen" rel="stylesheet" type="text/css" />
    <link href="{{ '/iconFonts/fileIconVectors/file-icon-square-o.css' | cms_static_url_web_lib }}" media="screen" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="wrapper d-flex flex-column min-vh-100 bg-light">
<header class="header header-sticky mb-4">
    {% block headerImage %}
        <span class="navbar-brand"><img src="{{ cmsGetPathTheme() }}/images/chameleon_logo_header.png" alt="" /></span>
    {% endblock %}
    <div class="header-divider"></div>
</header>
<main class="body main">
    <div class="container-fluid content px-0" id="cmscontentcontainer">
        {% block body %}
            <h1>{{ pageTitle }}</h1>

            {% if user.isLoggedIn %}
                Hello {{ user.name }}!
            {% endif %}
        {% endblock %}
    </div>
</main>

{{ include('BackendFooter/standard.html.twig') }}
</div>
</body>
</html>