
<div class="getGeoCoordinates">
    <form class="form mb-3" id="addressPickerForm">
        <div class="input-group">
            <input type="text" class="form-control" name="place" id="address" placeholder="{{ 'chameleon_system_core.map.address'|trans }}">
            <div class="input-group-append">
            <span class="btn btn-primary" type="button" id="btnFindAddress">
                <i class="fas fa-search" title="{{ 'chameleon_system_core.map.find_coordinates'|trans }}"></i>
            </span>
            </div>
        </div>
        <div id="addressError" class="text-danger ml-1"></div>
    </form>

    <div id="show-osmap"></div>
    {% if showGeocodingAttribution %}
        <div>
            <small>
                <i>
                    {{ 'chameleon_system_core.map.geocoding_via'|trans({'%name%':geocodingAttributionName, '%url%':geocodingAttributionUrl})|raw }}
                </i>
            </small>
        </div>
    {% endif %}

    <div class="mt-4">
        <div class="row">
            <div class="col-6">
                <button type="button" class="btn btn-gray-400 w-100" id="btnClose">
                    Abbrechen
                </button>
            </div>
            <div class="col-6">
                <button type="button" class="btn btn-primary w-100" id="btnSaveCoordinates">
                    {{ 'chameleon_system_core.field_map_coordinates.action_use_coordinates' | trans }}
                </button>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function() {
        CHAMELEON.CORE.FieldGeoCoordinates.initAddressPicker(
            'show-osmap',
            '{{ fieldname }}',
            '{{ lat }}',
            '{{ lng }}',
            '{{ "chameleon_system_core.map.address_not_found"|trans }}',
            '{{ "chameleon_system_core.map.address_empty"|trans }}'
        );
    });
</script>