{% if userIsAllowedToView %}
{% trans_default_domain constant('ChameleonSystem\\CoreBundle\\i18n\\TranslationConstants::DOMAIN_BACKEND') %}

<script type="text/javascript">
    function handleDbToggle(response)
    {
        var jsonresponse = $.parseJSON(response);
        DisplayAjaxMessage(jsonresponse['toasterMessage']);
        var enabled = jsonresponse['enabled'];
        if(enabled) {
            $('#dbLoggerButton').removeClass('btn-default');
            $('#dbLoggerButton').addClass('btn-danger');
        } else {
            $('#dbLoggerButton').removeClass('btn-danger');
            $('#dbLoggerButton').addClass('btn-default');
        }
        $('#toggleDbRecordingButton').attr('value', enabled ? '{{'chameleon_system_core.db_logger.stop_recording'|trans({}, 'admin')}}' : '{{'chameleon_system_core.db_logger.start_recording'|trans({}, 'admin')}}');
    }

    /**
     * @deprecated since 6.2.0 - no longer used.
     */
    function handleDbCounterUpdate(response)
    {
        var jsonresponse = $.parseJSON(response);
        DisplayAjaxMessage(jsonresponse['toasterMessage']);
    }

    function handleTimestampUpdate(message)
    {
        var timestampElement = $("#currentTimestamp");
        timestampElement.text(message);
        timestampElement.fadeTo(1, 0.0).fadeTo(1000, 1.0);
        $("#timestampFormField").attr('value', '');
        CloseModalIFrameDialog();
    }

    /**
     * @deprecated since 6.2.0 - no longer used.
     */
    function handleFilenameClick()
    {
    }

    $(function() {
        $('.dropdown-menu').find('form').click(function (e) {
            e.stopPropagation();
        });

        /**
         * @deprecated since 6.2.0 - no longer used.
         */
        function split( val ) {
            return val.split( /,\s*/ );
        }
    });

</script>

    <div class="btn-group pull-right">
        <button type="button" class="btn btn-sm dropdown-toggle navbar-btn {% if loggingActive %}btn-danger{% else %}btn-default{% endif %}" id="dbLoggerButton" data-toggle="dropdown">
            <span class="glyphicon glyphicon-record"></span> {{"chameleon_system_core.action.db_logger"|trans({}, 'admin') }}
            <span class="caret"></span>
        </button>
        <div class="dropdown-menu" style="min-width: 270px;">

                <div class="row">
                    <div class="col-md-12">
                            <form class="navbar-form" action="" method="POST" accept-charset="UTF-8" id="UnixTimeStamp" onsubmit="return false;">
                                <input type="hidden" name="module_fnc[{{ sModuleSpotName }}]" value="ExecuteAjaxCall"/>
                                <input type="hidden" name="_fnc" value="UpdateUnixTimeStamp"/>
                                <input type="hidden" id="timestampFormField" name="timestamp" value="" />
                                <div class="form-group">{{ activeDbCounter }}-<span id="currentTimestamp">{{ currentUnixTimestamp }}</span>.inc.php</div>
                                &nbsp;
                                <input class="btn btn-sm" type="button" value="{{ 'chameleon_system_core.action.new'|trans }}" onclick="PostAjaxForm('UnixTimeStamp', handleTimestampUpdate);return false;" />
                            </form>
                            <form class="navbar-form" action="" method="POST" accept-charset="UTF-8" id="ToggleRecording">
                                <input type="hidden" name="module_fnc[{{ sModuleSpotName }}]" value="ExecuteAjaxCall"/>
                                <input type="hidden" name="_fnc" value="SwitchLoggingState"/>
                                <input class="btn btn-primary" id="toggleDbRecordingButton" type="submit" value="{% if recordingActive %}{{ "chameleon_system_core.db_logger.stop_recording"|trans }}{% else %}{{ "chameleon_system_core.db_logger.start_recording"|trans }}{% endif %}" onclick="javascript:PostAjaxForm('ToggleRecording', handleDbToggle);return false;" />
                            </form>
                    </div>
                </div>

        </div>
    </div>
{% endif %}