{% trans_default_domain constant('ChameleonSystem\\CoreBundle\\i18n\\TranslationConstants::DOMAIN_BACKEND') %}

<div class="card bg-light text-center">
    <div class="card-header p-1 cmsimagefielditemtitle">
        {% if bReadOnly == false %}
                {% if bImageSet %}
                    <a href="javascript:{{ sOpenWindowJSMediaDetail }}" title="{{ 'chameleon_system_core.field_media.action_show_details'|trans }}" >
                        <img style="float:right" src="{{ sImageIconURL }}/images/icons/image_link.png" width="16" height="16" alt="{{ 'chameleon_system_core.field_media.action_show_details'|trans }}" title="{{ 'chameleon_system_core.field_media.action_show_details'|trans }}" hspace="0" vspace="2" border="0" />
                    </a>
                    <a href="{{ sImageURL }}" title="{{ "chameleon_system_core.field_media.action_download_image"|trans }}" target="_blank">
                        <img style="float:right" src="{{ sImageIconURL }}/images/icons/disk.png" width="16" height="16" alt="{{ "chameleon_system_core.field_media.action_download_image"|trans }}" title="{{ "chameleon_system_core.field_media.action_download_image"|trans }}" hspace="0" vspace="2" border="0" />
                    </a>
                {% endif %}
                <a href="javascript:{{ sOpenWindowJSSetImage }}" title="{{ 'chameleon_system_core.field_media.action_assign_image'|trans }}">
                    <img style="float:right" src="{{ sImageIconURL }}/images/icons/image.gif" width="16" height="16" alt="{{ 'chameleon_system_core.field_media.action_assign_image'|trans }}" title="{{ 'chameleon_system_core.field_media.action_assign_image'|trans }}" hspace="0" vspace="2" border="0" />
                </a>
                <span style="cursor: pointer; cursor: hand; display:inline; visibility: {{ sDeleteVisibleType }}; float:right;" id="cmsimagefielditem_clearbutton_{{ sFieldName }}{{ iPosition }}">
                    <img src="{{ sImageIconURL }}/images/icons/image_delete.gif" width="16" height="16" alt="{{ 'chameleon_system_core.field_media.action_reset_image_assignment'|trans }}" title="{{ 'chameleon_system_core.field_media.action_reset_image_assignment'|trans }}" hspace="0" vspace="2" border="0" onclick="ClearImage('{{ sTableId|e('js') }}','{{ sRecordId|e('js') }}','{{ sFieldName|e('js') }}','{{ iPosition|e('js') }}')" />
                </span>
        {% endif %}
    </div>
    <div class="card-body p-0">
        <div class="cmsimagefielditemimage">
            <div id="cmsimagefielditem_noimagediv_{{ sFieldName }}{{ iPosition }}" class="noImageDiv" style="display:none;">
                <img src="{{ emptyImageUrl }}" class="img-fluid">
            </div>
            <div id="cmsimagefielditem_imagediv_{{ sFieldName }}{{ iPosition }}" class="imageHolder" style="">
                {% include '/common/media/pkgCmsTextFieldImageResponsive.html.twig' %}
            </div>
        </div>
    </div>
</div>

