{% if '0000' not in fieldValue %}
    {# don't give datetimepicker a an empty defaultDate or one with zeros #}
    {% set fieldDefault = fieldValue %}
{% endif %}
{% set options -%}
    {"format": "{{ datetimepickerFormat }}", "locale": "{{ language|e('html_attr') }}"{% if fieldDefault is defined %}, "defaultDate": "{{ fieldValue }}"{% endif %}, "sideBySide": {{ datetimepickerSideBySide }} }
{%- endset %}

<div class="row dateInput">
    {# NOTE col-spec corresponds to TCMSFieldDecimal #}
    <div class="col-xs-12 col-md-6 col-lg-4">
        <input type="hidden" name="{{ fieldName|e('html_attr') }}" value="{{ fieldValue }}" />
        <input type="text" class="form-control form-control-sm datetimepicker-input format-{{ datetimepickerFormat }}" id="{{ fieldName|e('html_attr') }}" data-toggle="datetimepicker" data-target="#{{ fieldName|e('html_attr') }}"
               data-datetimepicker-option='{{ options }}' />
    </div>
</div>
