{# @var usage \ChameleonSystem\MediaManager\DataModel\MediaItemUsageDataModel #}

{% if usages | length > 0 %}
<table class="table table-sm table-hover TCMSListManagerFullGroupTable">
    <thead>
        <th class="bg-primary text-white">{{ 'chameleon_system_media_manager.delete.usage_table_header_table' | trans }}</th>
        <th class="bg-primary text-white">{{ 'chameleon_system_media_manager.delete.usage_table_header_id' | trans }}</th>
        <th class="bg-primary text-white">{{ 'chameleon_system_media_manager.delete.usage_table_header_record_name' | trans }}</th>
        <th class="bg-primary text-white">{{ 'chameleon_system_media_manager.delete.usage_table_header_field' | trans }}</th>
    </thead>
    <tbody>
        {% for usage in usages %}
        <tr class="TGroupTableItemRow">
            <td class="action">{{ usage.targetTableDescriptiveName }}</td>
            <td class="action">{{ usage.targetRecordId }}</td>
            <td class="action"><a href="{{ usage.url }}" target="_blank">{{ usage.targetRecordName }} <i class="fas fa-share-square"></i></a></td>
            <td class="action">{{ usage.targetFieldDescriptiveName }} ({{ usage.targetFieldName }})</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
    <p>{{ 'chameleon_system_media_manager.delete.usage_table_no_usages' | trans }}</p>
{% endif %}