<table class="table table-bordered">
    <tr>
        <th>{{ 'chameleon_system_media_manager.delete.usage_table_header_table' | trans }}</th>
        <th>{{ 'chameleon_system_media_manager.delete.usage_table_header_id' | trans }}</th>
        <th>{{ 'chameleon_system_media_manager.delete.usage_table_header_record_name' | trans }}</th>
        <th>{{ 'chameleon_system_media_manager.delete.usage_table_header_field' | trans }}</th>
    </tr>
    {% for usage in usages %}
        {# usage \ChameleonSystem\MediaManager\DataModel\MediaItemUsageDataModel #}
        <tr>
            <td>{{ usage.targetTableDescriptiveName }}</td>
            <td>{{ usage.targetRecordId }}</td>
            <td><a href="{{ usage.url }}" target="_blank">{{ usage.targetRecordName }} <span
                            class="glyphicon glyphicon-share"></span></a></td>
            <td>{{ usage.targetFieldDescriptiveName }} ({{ usage.targetFieldName }})</td>
        </tr>
    {% endfor %}
</table>
